header>p{
    background: yellow;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: white;
    width: 90%;
    margin: auto;
    padding-left:25px;
    background: -webkit-linear-gradient(100deg, rgb(22, 135, 237), rgb(87, 36, 154));
    background: linear-gradient(100deg, rgb(22, 135, 237), rgb(87, 36, 154));
    background: url("http://hels.alwaysdata.net/banner.png") no-repeat bottom right;
    background-size: cover;
}
h1,h2,h3{
    font-family: 'Coiny', cursive;
}
q{
    display: flex;
}
blockquote, q{
    color : black;
    width: 50%;
    font-size: 160%;
    background: #eee;
    border-left: 3px solid #aa3311;
    padding-left: 30px;
    margin: 80px auto;
    font-style: italic;
}
span{
    font-style: italic;
}
.fer{
    border-left: #f00 3px solid;
}
.vil{
    border-left: #0f3 3px solid;
}
em{
    text-transform: uppercase;
}
.mal{
    color: #f00;
}
.bien{
    color: #0f3;
}
table,th,tr,td{
    border-collapse: collapse;
    border: #000 1px solid;
    color: #000;
}
th:first-child,td:first-child{
    background: #fff;
}
th+th,td+td{
    background: #ddd;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    height: 30px;
    background-repeat: no-repeat;
    background-size: 2%;
    padding-left: 30px;
}
li:first-child{
    /*list-style-image: url("https://github.com/becodeorg/CRL-Woods-1.9/raw/master/Parcours/01-Prairie/5.HTML-CSS/progressive-enhancement/bien.png");*/
    background-image: url("https://github.com/becodeorg/CRL-Woods-1.9/raw/master/Parcours/01-Prairie/5.HTML-CSS/progressive-enhancement/bien.png");
}
li:nth-child(2){
    /*list-style-image: url("https://github.com/becodeorg/CRL-Woods-1.9/raw/master/Parcours/01-Prairie/5.HTML-CSS/progressive-enhancement/mal.png");*/
    background-image: url("https://github.com/becodeorg/CRL-Woods-1.9/raw/master/Parcours/01-Prairie/5.HTML-CSS/progressive-enhancement/mal.png");
}   
li:nth-child(3){
    /*list-style-image: url("https://github.com/becodeorg/CRL-Woods-1.9/raw/master/Parcours/01-Prairie/5.HTML-CSS/progressive-enhancement/chat.png");*/
    background-image: url("https://github.com/becodeorg/CRL-Woods-1.9/raw/master/Parcours/01-Prairie/5.HTML-CSS/progressive-enhancement/chat.png");
}
.bolder{
    font-weight: bold;
}
img{
    float: left;
    margin: 10px;
}