#wrapper{
   margin: 0;
   padding: 0;
}
body{
    background: #1F93CC;
    color:#fff;
}
#menu_hr{
    margin : 0;
    height: 45px;
    background: #333;
    width: 100%;
    padding-left: 6%;
    font-size: 0.85em;
    position: fixed;
    top : 0;
}
#menu_left{
    width: 80%;
    float: left;
}
#menu_hr img{
    height: 20px;
    padding: 0.7%
}
#menu_hr ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}
#menu_hr img{
    margin-right: 20px;
}
#menu_hr li,#menu_hr img{
    float: left;
}
#menu_hr li a{
   display: block;
   text-decoration: none;
   color:#fff;
   line-height: 45px;
   padding: 0 13px;
}
#menu_right li a{
    float: right;
    display: block;
    margin-left: 40px;
}
#menu_right i{
    margin-right: 2px;
}
#menu_hr li a:hover{
    background: #222;
}
#heady{
    margin-top: 85px;
}
#head_left{
    float: left;
    margin-left: 110px;
}
#head_left img{
    width: 78%;
}
#head_right{
    float: left;
    margin-left: 62px;
    font-size: 1.5em;
    width: 680px;
}
#hr_top{
    margin-left: 11%;
    margin-top: -8px;
    margin-bottom: -10px;
}
#hr_top img{
    width: 49%;
}
#hr_centre{
}
#hr_bottom{
    margin-left: 11%;
    margin-top: 50px;
}
#sbn_btn,#sb_btn{
   display: inline-block;
    font-size: 24px;
    color: #fff;
    background-color: #fa0;
    border: #fff solid 2px;
    border-radius: 10px 10px;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
#sbn_btn:hover,#sb_btn:hover{
    background-color: #f60;
}
#contenty{
    display: inline-block;
    margin-top: 32px;
}
#head_contenu,#footcontenu{
    width: 100%;
    background: #fff;
    color: #000;
    text-align: center;
    font-size: 28px;
    display:inline-block;
}
#contenu{
    font-size: 18px;
    display: grid;
    grid-template-columns: 47% 47%;
    grid-column-gap: 50px;
    padding: 0 70px;
}
#contenu h1{
    font-size: 30px;
}
#contenu i{
    margin-right: 5px;
}
#links{
    background: #eee;
    padding: 30px 100px;
   text-align: center;
}
#links div{
   display: inline-block;
   margin: 20px 0;
   vertical-align: middle;
}
#links img{
    margin: 10px;
}
#miles img{
   height:40px;
}
#apptruck img{
   height: 70px;
}
#spectrum img{
   height: 40px;
}
#knowit img{
   height: 40px;
}
#hatchery img{
   height: 50px;
}
#fwd img{
   height: 40px;
}
#product-hunt img{
   height: 80px;
}
#blinks{
   background: #fff;
   height: 120px;
   padding: 30px 100px;
   text-align: center;
}
#blinks a{
   width: 160px;
}
#restapi_btn,#docs_btn{
   display: inline-block;
   font-size: 24px;
   color: #fff;
   background-color: #27f;
   border: #fff solid 2px;
   border-radius: 10px 10px;
   padding: 15px 15px;
   text-align: center;
   text-decoration: none;
   margin: 4px 2px;
   cursor: pointer;
}
#restapi_btn:hover,#docs_btn:hover{
   background: #00c;
}
footer{
    margin : 0;
    margin-bottom: -20px;
    height: 45px;
    background: #333;
    width: 100%;
    font-size: 15px;
}
#fmenu_left{
    width: 80%;
    float: left;
}
footer ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    line-height: 40px;
}
#fmenu_right li{
    float: right;
    display: block;
    margin-right: 5px;
}
footer li a:hover{
    color: #fa0;
}
footer li{
    float: left;
}
footer li a{
   display: block;
   text-decoration: none;
   color:#fff;
   padding: 0 13px;
   line-height: 22px;
   margin-top: 8px;
}
footer li:nth-child(-n+4) a{
   border-right: 1px #fff dotted;
}